body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #fdb1d1; /* Du kan använda hexadecimal eller RGB-värde */
}

header {
  background-color: #fdb1d1; /* Du kan använda hexadecimal eller RGB-värde */
  font-size: 20px;
  font-family: 'PatuaOne-Regular', sans-serif; /* Använd din importerade font här */
}

footer {
  font-size: 13px;
}

h1, h2, h3 {
  font-family: 'PatuaOne-Regular', sans-serif; /* Använd din importerade font här */
  font-size: 50px; /* Ställ in storleken efter behov */
}

p {
  font-family: 'MavenPro-Regular', sans-serif; /* Använd din importerade font här */
  font-size: 16px; /* Ställ in storleken efter behov */
}

#app {
  background-color: #fdb1d1; /* Du kan använda hexadecimal eller RGB-värde */
  /* Andra stilar för din app om det behövs */
}

.navbar {
  background-color: #fdb1d1; /* Du kan använda hexadecimal eller RGB-värde */
  font-family: 'Irish Grover', sans-serif; /* Använd din importerade font här */
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  font-size: 30px; /* Anpassa storleken efter behov */
  justify-content: center;
  align-items: center;
}

.nav-link {
  font-size: 10px; /* Anpassa storleken efter behov */
}

#offcanvasNavbar {
  background-color: #97EAEF; /* Ange din önskade bakgrundsfärg här */
}

.title {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
